* {
  box-sizing: border-box;
}
#content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

header {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  color: white;
}
.resto-name > h1 {
  font-size: 4rem;
  padding: 0px;
  margin: 0px;
}

nav {
  display: flex;
  gap: 2rem;
}

/* TABS */
ul {
  list-style: none;
}
li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  padding: 10px;
}
li a {
  color: #d6d1e1;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.8s;
}
li::after {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: color 3s, width 0.5s;
}
li a:hover {
  color: #ba55ff;
}
li:hover::after {
  width: 100%;
  background-color: #ba55ff;
}

/* --------------------------- MAIN */

main {
  background-color: rgb(34, 34, 34);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main > h1 {
  padding-top: 1rem;
  color: white;
  font-size: 2.5rem;
}

/*  HOME */

.main-window {
  background-color: #737374;
  width: 600px;
  min-height: 500px;
  border-radius: 25px;
  margin: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  background: url("./logo-cookiejari.jpg");
  background-position: center;
  background-size: 103%;
  height: 300px;
  width: 300px;
  border-radius: 400px;
}

/* MENU */

.menu-window {
  background-color: #737374;
  width: 600px;
  min-height: 500px;
  border-radius: 25px;
  margin: 3rem;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2rem;
}
.menu-item {
  background-color: #333333c7;
  color: white;
  width: 20rem;
  height: 30rem;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image-holder {
  height: 13rem;
  width: 13rem;

  display: inline-block;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-holder > img {
  height: 134%;
  width: 134%;
  object-fit: cover;
}
